nav{
  background: #2c3e50;
  padding: 35px 0;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
a:hover{
  text-decoration: none;
}
.nav-lista{
  display: inline-block;
  padding: 0 2%;
}
.menu-nav{
  text-align: right;
}
.text-nav{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.text-nav:hover{
  color: white;
}
.text-nav2{
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.text-nav2:hover{
  color: #1abc9c;
}

/* header */
.position-cent{
  text-align: center;
  background: #1abc9c;
  margin-top: 106px;
}
.avatar{
  max-width: 250px;
  margin-top: 10px;
}
h1{
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0;
}
.icone{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.fa-star{
  font-size: 32px;
  color: white;
}
.icone-line{
  width: 100%;
  max-width: 130px;
  height: 4px;
  background: white;
  border-radius: 1px;
}
.marg-dx{
  margin-right: 15px;
}
.marg-sx{
  margin-left: 15px;
}

.par-header{
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 25px 0 90px;
}


/* blocco PORTFOLIO */

.portofolio{
  margin-bottom: 70px;
}
.center{
  text-align: center;
  margin-top: 50px;
}
h2{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50;
}
.color{
  color: #2c3e50;
}
.color1{
  background: #2c3e50;
}
.larghezza{
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

/* blocco about */
.about{
  background: #1abc9c;
}
.misure{
  width: 50%;
  margin: 0 auto;
}
#color-white{
  color: white;
}
.par-about{
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-bottom: 50px;
}
.download-center{
  text-align: center;
  margin-bottom: 100px;

}
.download{
  padding: 2%;
  font-size: 20px;
  background: none;
  color: white;
  border: solid 2px #f8f9fa;
}
/* blocco contact */
.form-agg{
  color: rgba(0, 0, 0, 0.5);
  font-size: 26px;
}
.margin-button{
  margin-bottom: 150px;
}
.send{
  background-color: #148f77;
  padding: 3%;
  font-size: 20px;
  border: solid 2px #12846e;
  color: white;
}
